/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

img {
    max-width: 100%;
    flex-shrink: 0;
    -ms-interpolation-mode: bicubic;
}

.flex {
    flex: 1 1 auto;
}

.showcaseSection .logos img {
    height: 80px;
    max-width: 300px;
    -ms-interpolation-mode: bicubic;
}

.blockImage img {
    height: 85px;
}

.mainContainer .container .wrapper .gridBlock .blockElement .blockImage img {
    height: 60px;
}

/* fix for shields.io badge left adjustment */
article p img {
    margin-left: inherit;
    margin-right: inherit;
    display: inline;
}

/* fix for home page 3-column icon sizes */
.imageAlignTop .blockImage {
    max-width: 265px;
    width: 265px;
}



.center {
    text-align: center;
}

.box {
    display: flex;
    align-items:center;
}

.small {
    font-size: .8em;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.nav-footer .footer-text,
.nav-footer .footer-text a {
   color: rgba(255, 255, 255, 0.4);
    margin: 0;
    padding: 0;
}

section.sitemap {
    padding-left: 10px;
    padding-right: 10px;
}

section.sitemap div.main {
    flex-grow: 2;
    padding-right: 10px;
}

.igia {
    font-family: monospace;
}

igia:before {
    font-family: monospace;
    content: "igia";
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: rgba(170, 0, 0, 0.5);
    left: -3.5em;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 95px;
    white-space: nowrap;
    width: 17em;
    z-index: 99999;
    pointer-events: none;
    opacity: 0.75;
    color: black;
    a {
        color: black;
        display: block;
        font-weight: 400;
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 5px #444;
        pointer-events: none;
    }
}
div.ribbon a {
    color: black;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}
